.header {
    margin-top: 60px;
    width: 100%;
    margin-bottom: 140px;
}

.header-inner{
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-between;
}

.header_menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header_menu-list {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.header_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    gap: 100px;
}

.header_group h1{
    font-size: 60px;
}

.header_group p {
    font-size: 20px;
    padding-bottom: 35px;
}

.header_group-list{
    max-width: 45%;
}

.carousel-wrapper {
    overflow: hidden;
    margin-top: 70px;
    width: 100%;
}

.header_carousel {
    display: flex;
    align-items: center;
    gap: 95px;
    animation: scroll 20s linear infinite;
    width: max-content;
}

.header_carousel img {
    filter: grayscale(100%) brightness(0);
    opacity: 0.9;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Сдвигаем на половину (6 логотипов) */
    }
}

/* Пауза при наведении (опционально) */
.header_carousel:hover {
    animation-play-state: paused;
}

