.service {
    display: grid;
    align-items: center;
    justify-content: center;
}

.services-text{
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
}

.services-text span {
    background-color: var(--color-green);
    padding-inline: 7px;
    border-radius: var(--border-radius-button);
    font-size: 40px;
    font-weight: 500;
}


.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.service-card{
    display: flex;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--input-padding-card);
    gap: 70px;
    justify-content: space-between;
}

.service_input{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 45%;
}


.service_input-button{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.span{
    display: inline;
    border-radius: 7px;
    padding: 0px 7px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.02em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-size: 30px;
    white-space: nowrap;
}

.card-white{
    background: var(--color-white);
}

.card-gray{
    background: var(--color-gray);
}

.card-green{
    background: var(--color-green);
}

.card-dark{
    background: var(--color-dark);
}