.service-card{
    display: flex;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--input-padding-card);
    gap: 70px;
    justify-content: space-between;
}

.service-span{
    display: inline;
    border-radius: 7px;
    padding: 0px 7px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.02em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-size: 30px;
    white-space: nowrap;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.card-white{
    background: var(--color-white);
}

.card-gray{
    background: var(--color-gray);
}

.card-green{
    background: var(--color-green);
}

.card-dark{
    background: var(--color-dark);
}

.studies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: var(--border-radius);
    margin-top: var(--margin-top);
    color: white;
}

.working {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: var(--margin-top);
}

.working-item{
    display: flex;
    flex-direction: column;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--color-gray);
    width: 100%;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--margin-top);
    gap: 40px;
}

.team-card {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 60px 35px;
}

.team-header {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

.testimonials{
    display: flex;
    justify-content: center;
    background: var(--color-dark);
    border-radius: var(--border-radius-button);
    color: var(--color-white);
    margin-top: var(--margin-top);
}

.testimonials-card{
    padding: 80px 10px;
    width: 50%;
}
