body {
    margin-inline: 100px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400; 
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

a:hover {
    opacity: 0.7;
}

hr {
    width: 1px; /* Толщина линии */
    height: 190px; /* Высота линии */
    background-color: var(--color-white); /* Цвет линии */
    border: none;
}

