@import 'normalize.css';
@import 'fonts.css';
@import 'variables.css';
@import 'globals.css';

@import 'components/buttons.css';
@import 'components/header.css';
@import 'components/service.css';
@import 'components/studies.css';

