:root {
    --color-green: #B9FF66;
    --color-dark: #191A23;
    --color-gray: #F3F3F3;
    --color-gray-2: #292A32;
    --color-white: #FFFFFF;

    --border: 1px solid var(--color-dark);
    --border-radius: 45px;
    --border-radius-button: 14px;
    --box-shadow: 0 5px 0 0 var(--color-dark);

    --input-padding-card: 50px;

    --transition-duration: 0.2s;

    --margin-top: 80px;
}